<h1>Create New User</h1>

<form action="<%= users_url %>" method="POST">

    <label for="email">Email:
        <input type="text" id="email" name="user[email]" value="<%= @user.email %>">
    </label>

    <br>
    <br>

    <label for="password">Password:
        <input type="password" id="passowrd" name="user[password]" value="">
    </label>

    <input type="submit" value="Create User">


</form>
