<h1>Login Page</h1>

<input type="hidden" name="authenticity_token" value='#{form_authenticity_token}'/>

<form action="<%= session_url %>" method="POST">
<label for="email">Email:
    <input type="text" id="email" name="user[email]" value="<%= @user.email">
</label>

<br>

<label for="password">password:
    <input type="password" id="password" name="user[password]" value="">
</label>

<br>

<input type="submit" value="Login">

</form>